@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Deep_Navy_blue: #2c3e50;
  --white-color: #FFF;
  --black-color: #1e1e1e;
  --soft-gold: #F1C40F;
  --light-red: #E74C3C;
  
  --Deep_Navy_blue-rgb: 44, 62, 80;
  --black-color-rgb: 30, 30, 30;
  --soft-gold-rgb: 241, 196, 15;
  --light-red-rgb: 231, 76, 60;
}

/* General, reusable */
body, html {
  background-color: var(--Deep_Navy_blue);
  scroll-behavior: smooth;
}

h1,h2,h3,h4,label,input {
  font-family: "Raleway", sans-serif;;
}

p, a, button, span, li {
  font-family: "Merriweather Sans", sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.container {
  padding: 4rem 0;
}

.row {
  padding: 0 24px;
}


/* landing_page */
header {
  position: relative;
  width: 100%;
  height: 100vh;
}

#home_video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  display: block;
  filter: brightness(0.5);
  z-index: 50;
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav_container {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#company_logo {
  width: 40px;
  height: 40px;
}

.nav_list {
  display: flex;
  gap: 80px;
  font-weight: 100;
}

.nav_link,
.nav_link--contact {
  color: var(--white-color);
}

.nav_link--contact {
  background-color: var(--light-red);
  padding: 8px 32px;
  border-radius: 32px;
}


.header_info--container {
  position: absolute;
  top: 24%;
  left: 32px;
}

#web_title {
  font-size: 80px;
  width: 500px;
  color: var(--white-color);
  margin-bottom: 32px;
}

#header_prices--btn {
  background-color: var(--light-red);
  color: var(--white-color);
  padding: 8px 24px;
  border-radius: 40px;
  margin-right: 16px;
}

#header_contact--btn {
  border: 1px solid var(--white-color);
  color: var(--white-color);
  padding: 8px 24px;
  border-radius: 40px;
}

.header_sub-heading {
  position: absolute;
  bottom: 16px;
  color: var(--white-color);
  right: 32px;
  width: 500px;
  line-height: 2.5rem;
  text-align: end;
}



/* about */
#about {
  position: relative;
}

.stats--container {
  display: flex;
  justify-content: space-evenly;
}

.stat-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat {
  color: var(--soft-gold);
  font-size: 48px;
  font-weight: 900;
  letter-spacing: .2rem;
}

.stat--para {
  color: var(--white-color);
  font-weight: 100;
  text-align: center;
  line-height: 1.5rem;
  width: 100%;
}

.about-text {
  color: var(--white-color);
  font-weight: 200;
  margin-top: 4rem;
  width: 100%;
  line-height: 2rem;
}

.map--wrapper {
  margin-top: 10rem;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
}

.locations-text {
  color: var(--white-color);
  position: absolute;
  top: 70%;
  left: 10%;
  width: 400px;
  line-height: 1.5rem;
  font-weight: 200;
  font-size: 16px;
}

.locations-text strong {
  color: var(--light-red);
  font-size: 20px;
}




/* unique */
#unique {
  background-color: var(--light-red);
}

.header,
.sub_header {
  color: var(--white-color);
  text-align: center;
}

.sub_header {
  font-weight: 100;
  margin-top: 8px;
}

.unique_icon--container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.icon--box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon--figure {
  width: 100px;
  height: 100px;
  background-color: var(--Deep_Navy_blue);
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
}

.unique--para {
  margin-top: 12px;
  color: var(--white-color);
  text-align: center;
  font-weight: 100;
  width: 250px;
  line-height: 1.5rem;
}



/* services & prices */
.services--container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.service--box {
  width: 400px;
}

.service_img--wrapper {
  width: 400px;
  height: 200px;
}

.service_img {
  width: 100%;
  filter: brightness(0.8);
  display: block;
}

.service_info--container {
  position: relative;
  background-color: var(--light-red);
  width: 400px;
  height: 400px;
  padding: 24px;
  color: var(--white-color);
  border-bottom-right-radius: 32px;
}

.service_list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 100;
}

.service_feature::before {
  content: '';
  background-image: url('./assets/checkmark.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  vertical-align: -20%;
}

.learn_more {
  position: absolute;
  bottom: 24px;
  right: 24px;
  color: var(--white-color);
  padding: 8px 32px;
  background-color: var(--soft-gold);
  border-radius: 100px;
}



/* contact */
#contact {
  position: relative;
}

.contact--container {
  background-image: url('./assets/contact_img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 690px;
  filter: brightness(0.5);
}

.contact_header {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 40px;
  font-weight: 200;
  color: var(--white-color);
  width: 500px;
}

form {
  position: absolute;
  width: 425px;
  height: 500px;
  top: 24%;
  right: 15%;
  background-color: rgba(var(--Deep_Navy_blue-rgb), 0.95);
  border-radius: 16px;
}

fieldset {
  width: 100%;
  height: 100%;
  border: none;
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.field_group {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  border: none;
  background-color: transparent;
  border: 1px solid var(--soft-gold);
  color: var(--white-color);
  outline: none;
  padding: 8px;
}

#contact_btn {
  background-color: var(--soft-gold);
  border: none;
  padding: 12px 32px;
  width: 150px;
  align-self: center;
  border-radius: 100px;
  color: #FFF;
  font-size: 16px;
}

.contact_info--container {
  position: absolute;
  top: 50%;
  left: 32px;
}

.contact_info--list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact_link {
  color: var(--white-color);
  font-weight: 100;
}

.email_link::before {
  content: '';
  background-image: url('./assets/email_icon.svg');
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  vertical-align: -45%;
}

.phone_link::before {
  content: '';
  background-image: url('./assets/phone_icon.svg');
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  vertical-align: -20%;
}






/* learn more | Property Management */
.top_page--text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white-color);
  left: 32px;
}

.learn_more--title {
  font-size: 60px;
}

.learn_more--sub_title {
  font-weight: 300;
}

.first_statement {
  position: absolute;
  bottom: 60px;
  right: 32px;
  width: 600px;
  color: var(--white-color);
  text-align: right;
  font-size: 20px;
  line-height: 2rem;
}

.feature--container {
  position: relative;
}

.feature--box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

.feature_icon--container {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.icon--wrapper {
  border: 1px solid var(--light-red);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_img {
  display: block;
  width: 36px;
}

.icon_name {
  color: var(--white-color);
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.line {
  position: absolute;
  width: 150px;
  border: 0.5px solid var(--light-red);
  left: 150px;
  top: 60px;
}

.text--container {
  position: absolute;
  left: 300px;
  top: 50px;
  color: var(--white-color);
  width: 60%;
  height: 250px;
  padding: 0 8px;
  font-weight: 200;
}

.feature_list {
  margin-top: 32px;
}

.feature {
  list-style-type: disc;
  margin-left: 32px;
  margin-top: 12px;
  width: 500px;
  line-height: 1.5rem;
}

.feature_list strong {
  color: var(--soft-gold);
  font-weight: 200;
}

.last_statement {
  color: var(--white-color);
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.shape1 {
  position: absolute;
}

.shape2 {
  position: absolute;
  right: 0;
  top: 180%;
}

.shape3 {
  position: absolute;
  left: 0;
  top: 215%;
}
.property_management--img {
  background-image: url('./assets/learn_more--house.webp');
}

.property_management--img,
.maintenance--img {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.5);
  border-bottom-left-radius: 60px;
}

/* learn more maintenance / repairs */
.maintenance--img {
  background-image: url('./assets/home_repairs.webp');
}