@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Deep_Navy_blue: #2c3e50;
  --white-color: #FFF;
  --black-color: #1e1e1e;
  --soft-gold: #F1C40F;
  
  --Deep_Navy_blue-rgb: 44, 62, 80;
  --white-color-rgb: 255, 255, 255;
  --black-color-rgb: 30, 30, 30;
  --soft-gold-rgb: rgb(241, 196, 15);
}

/* General, reusable */

h1,h2,h3,h4,label,input {
  font-family: "Raleway", sans-serif;;
}

p, a, button, span {
  font-family: "Merriweather Sans", sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.fact_stat {
  font-size: 4rem;
}

.container {
  padding: 8rem 0;
}

.row {
  padding: 0 24px;
}

.centered_header {
  text-align: center;
}




/* Header */
header {
  position: relative;
  width: 100%;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px;
  z-index: 100;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 80px;
}

.nav_link a {
  color: #FFF;
}

#home-landing_page--video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  display: block;
  filter: brightness(0.6);
}

.header_text--container {
  position: absolute;
  top: 30%;
  left: 24px;
  color: #FFF;
  font-size: 4rem;
}

.web_title {
  font-size: 100px;
}

.sub-heading {
  font-size: 24px;
  font-weight: 500;
}

#pricing_btn,
#contact_btn {
  color: #000;
  font-size: 16px;
  background-color: #FFF;
  padding: 16px 40px;
  border-radius: 32px;
  border: none;
  margin-top: 56px;
}

#pricing_btn {
  margin-left: 24px;
}

.fact {
  position: absolute;
  bottom: 0;
  right: 24px;
  background-color: rgba(var(--Deep_Navy_blue-rgb), 0.8);
  width: 300px;
  height: 200px;
  border-top-left-radius: 100px;
  z-index: 50;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience {
  color: var(--white-color);
  margin-bottom: 16px;
}

.fact_para {
  color: var(--white-color);
  font-weight: 100;
}




/* about us */

#about_us {
  position: relative;
}

.container--about_us {
  padding: 4rem 0 8rem 0;
}

.information_container {
  width: 60%;
}

.section_header {
  font-size: 32px;
  margin-bottom: 32px;
}

.about_para {
  font-weight: 100;
  line-height: 2rem;
}

.fact-continued {
  position: absolute;
  top: 0;
  right: 24px;
  width: 300px;
  height: 400px;
  background-color: rgb(var(--Deep_Navy_blue-rgb), 0.8);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fact-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-continued {
  margin-bottom: 16px;
  color: var(--white-color);
}

/* why us */
#why_us {
  background-color: var(--soft-gold);
  border-top-left-radius: 32px;
}

.reasons_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.reason_box {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img--wrapper {
  background-color: var(--Deep_Navy_blue);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: centers;
  margin-bottom: 24px;
  border-radius: 100px;
}

.reason_img {
  width: 50px;
  z-index: 99;
}

.reason-para {
  width: 85%;
  text-align: center;
  font-weight: 100;
}

.circle_overlay {
  position: absolute;
  top: -30px;
  left: 35%;
  border: 1px solid var(--Deep_Navy_blue);
  border-radius: 50px;
  width: 100px;
  height: 100px;
}




/* services | prices */
.services_header {
  margin-bottom: 8px;
}

.section_sub-heading {
  font-weight: 100;
  text-align: center;
}

.services--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.service--box {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: var(--Deep_Navy_blue);
  padding: 24px;
  border-bottom-right-radius: 32px;
  box-shadow: 5px 10px 16px 0 #b5b5b5;
}

.service-wrapper {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.service-img {
  width: 100%;
  display: block;
  filter: brightness(0.6);
  border-top-left-radius: 32px;
}

.service-price--para,
.service-price--para2 {
  position: absolute;
  left: 24px;
  color: var(--white-color);
}
.service-price--para {
  top: 24px;
}

.service-price {
  font-size: 56px;
  font-weight: 900;
}

.service-price--para2 {
  top: 90px;
}

.service_name {
  color: var(--white-color);
  font-weight: 200;
  margin-bottom: 32px;
}

.feature {
  color: var(--white-color);
  font-weight: 100;
  margin-bottom: 24px;
}

.feature::before {
  content: '';
  display: inline-block;
  background: url('./assets/checkmark.svg');
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: -35%;
}

.box2 {
  background-color: rgba(var(--Deep_Navy_blue-rgb), 0.9);
}

.learn_more {
  position: absolute;
  bottom: 24px;
  right: 32px;
  background-color: var(--soft-gold);
  color: var(--white-color);
  padding: 8px 32px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}




/* contact */

.contact_img--container {
  position: relative;
  height: 600px;
}

.contact_img {
  background-image: url('./assets/AdobeStock_426724173.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.5);
  height: 600px;
}

.contact_text {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 32px;
  color: #FFF;
  width: 40%;
  font-weight: 200;
}

.contact_info--list {
  position: absolute;
  top: 50%;
  left: 24px;
}

.contact_link {
  color: var(--white-color);
  font-weight: 100;
}

.phone_link {
  margin-top: 32px;
}

.email_link::before {
  background: url('./assets/email_icon.svg');
  vertical-align: -60%;
}

.phone_link::before {
  background: url('./assets/phone_icon.svg');
  vertical-align: -30%;
}

.phone_link::before,
.email_link::before {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

#contact_form {
  position: absolute;
  background-color: rgba(var(--Deep_Navy_blue-rgb), 0.9);
  border-radius: 32px;
  top: 10%;
  right: 10%;
  width: 400px;
  height: 500px;
}

.input_label {
  position: absolute;
  top: -32px;
  color: var(--white-color);
}

fieldset {
  border: none;
  width: 100%;
  height: 100%;
  padding: 100px 32px
}

.field_group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 56px;
}

.field_group input,
.field_group textarea {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--soft-gold);
  box-shadow: none;
  padding: 8px 8px;
  color: var(--white-color);
}

#send_btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 56px;
  border: none;
  background-color: var(--soft-gold);
  color: var(--white-color);
  border-radius: 100px;
  font-size: 16px;
}

.contact_container {
  padding: 4rem 0 0 0;
}